<div id="head" class="slides">
  <%= slides_for(@highlighted_sources.all, 'highlighted_source' ) %>
</div> <!-- #slider -->

<div id="left">
  <h2>Listado de Fuentes de datos</h2>
  <ul class="app_list">
    <%= render @sources %>
  </ul>

</div> <!-- #apps -->

<div id="right">
  <form action="es/search/" id="main_search" method="get" accept-charset="utf-8">
    <fieldset>
      <label>
        <strong>Buscar</strong>
        <input name="search" type="text" id="search" value="" />
        <button type="submit"> <span>Buscar</span> </button>
      </label>
    </fieldset>
  </form>
  <%= render 'categories/categories' %>

</div> <!-- #sidebar -->
