/* @override http://localhost:3000/stylesheets/screen.css */

body {
 font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
 font-size: x-small;
 font-variant: normal;
 font-style: normal;
 font-weight: normal;
 line-height: 1.5em;
 color: #666;

}

*{
 margin: 0;
 padding: 0;
}

h1 { font-family: 'Yanone Kaffeesatz', arial, serif; }

body {
  background: #fbfbfb url(/images/bg.jpg) 0 0 repeat;
}

#bgcontainer {
  background: url(/images/bgtop.jpg) 0 0 repeat-x;
  min-height: 700px;
}

#bgcontainer > div {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
