/* @override http://localhost:3000/stylesheets/button.css */

/* Generic buttons */
.button {
  margin-top: 16px;
  padding: 1px;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  display: inline-block;
  border:  1px solid #0082D5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	background:  #87C6EE;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87C6EE', endColorstr='#048FE8'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#87C6EE), to(#048FE8)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #87C6EE,  #048FE8); /* for firefox 3.6+ */

	font-size: 24px;
	vertical-align: center;
	color: white;
	text-shadow: 1px 1px 2px black;
	font-weight: 800;
  cursor: hand;
  cursor: pointer;
}

.button:hover {
	border: 1px solid #D77011;
		background:  #87C6EE;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3CF8C', endColorstr='#EC8727'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#F3CF8C), to(#EC8727)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #F3CF8C,  #EC8727); /* for firefox 3.6+ */

}

.button:hover em{
		background: #EFB142;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFB142', endColorstr='#EC8727');
	background: -webkit-gradient(linear, left top, left bottom, from(#EFB142), to(#EC8727));
	background: -moz-linear-gradient(top,  #EFB142,  #EC8727);

}

.button em {
	display: block;
	padding: 8px 10px;
  font-style: normal;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
  cursor: hand;
  cursor: pointer;

	background: #F7F7F7;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#39A3E6', endColorstr='#048FE8');
	background: -webkit-gradient(linear, left top, left bottom, from(#39A3E6), to(#048FE8));
	background: -moz-linear-gradient(top,  #39A3E6,  #048FE8);
}

a.button {
  display: inline-block;
  text-decoration: none;
  float: right;
}
a.button em {
  line-height: 24px;
}

.button.erase {
  border:  1px solid #D55500;
  background:  #EDAF86;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDAF86', endColorstr='#E96105'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#EDAF86), to(#E96105)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #EDAF86,  #E96105); /* for firefox 3.6+ */
}

.button.erase em{
  background: #E96105;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E57E38', endColorstr='#E96105');
	background: -webkit-gradient(linear, left top, left bottom, from(#E57E38), to(#E96105));
	background: -moz-linear-gradient(top,  #E57E38,  #E96105);
}


.button.erase:hover {
  border:  1px solid #D50D00;
  background:  #EC8C86;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EC8C86', endColorstr='#E91405'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#EC8C86), to(#E91405)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #EC8C86,  #E91405); /* for firefox 3.6+ */
}

.button.erase:hover em{
  background: #E44439;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E44439', endColorstr='#E91405');
	background: -webkit-gradient(linear, left top, left bottom, from(#E44439), to(#E91405));
	background: -moz-linear-gradient(top,  #E44439,  #E91405);
}



.button a {
  color: white;
	text-decoration: none;
	display: block;
}
/*specific*/
.new.button {
	float: right;
	margin-right: 76px;
}
.new.button em {
  padding: 0;
}
.new.button em a{
  height: 64px;
  line-height: 64px;
	width: 318px;
	padding-left: 70px;
	background:  10px 8px url('/images/plus_sign.png') no-repeat;
}
