/* @override 
	http://www.arcsem.dev:3000/stylesheets/content.css
	http://guillermo.arcsem.dev:3000/stylesheets/content.css?1294758685
*/

/* Content */
#content {
  min-height: 300px;
  margin-top: 30px;
  margin-bottom: 54px;
  overflow: hidden;
}

#content p {
	padding: 0 80px;
	font-size:  24px;
	font-weight: lighter;
	margin: 10px 0 64px;
	text-shadow:  1px 1px 1px white;
	color: black;
}
#categories {
	overflow: hidden;
	padding: 0 0px 0 80px;
}
#categories li {
	display: inline-block;
	list-style:	none;
	float: left;
	min-height: 118px;
	width: 390px;
	margin: 0 10px 10px 0;
	border:  1px solid #CCCCCC;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F3F3F3'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#F3F3F3)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #F3F3F3); /* for firefox 3.6+ */
}


#categories h1 {
	display: block;
	border:  1px solid white;
	margin: 1px 1px 1px 1px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	background: #F7F7F7;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#F3F3F3');  
	background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#F3F3F3)); 
	background: -moz-linear-gradient(top,  #F7F7F7,  #F3F3F3);  
}

#categories h1 a {
	  padding: 25px 5px 5px 120px;
}

#categories h1:hover{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3F3F3', endColorstr='#F7F7F7');  
	background: -webkit-gradient(linear, left top, left bottom, from(#F3F3F3), to(#F7F7F7)); 
	background: -moz-linear-gradient(top,  #F3F3F3,  #F7F7F7);  
}


#content h1 {
	display: block;
	font-size: 63px;
	min-height: 114px;
	position: relative;
	font-weight: 400;
	font-style: italic;
	letter-spacing: -2px;
	line-height: 50px;
	text-shadow:  2px 2px 3px white;
}

#content.windowed h1 {
	min-height: 60px;
	font-size: 48px;
	line-height: 48px;
	font-weight: 600;
	letter-spacing: 0px;
	padding: 8px 5px 0px 70px;
}

#content h1 img {
	position: absolute;
	width: 100px;
	height:  100px;
	top: 10px;
	left: 10px;
}

#content.windowed h1 img {
	top: 6px;
	left: 6px;
	width: 54px;
	height: 54px;
}
#content h1 a {
	color: black;
	text-decoration: none;
	display: block;
  	text-shadow:  1px 1px 1px white;

}

abbr {
  border-bottom: 1px dotted gray;
  
}