/*Footer*/
#footer {
  border-top: 1px solid black;
  margin-top: 54px;
  font-size: 14px;
  padding: 9px 0;
  overflow: hidden;
}

#footer a {
  color: black;
  text-decoration: none;
}

#authors {
  float: left;
}

#contact {
  float: right;
}
