/* @override
	http://localhost:3000/stylesheets/form.css
	http://www.arcsem.dev:3000/stylesheets/form.css
	http://guillermo.arcsem.dev:3000/stylesheets/form.css?1294898128
*/

#content form {
	margin: 32px 70px;
	color: black;
}

#content form label {
	display: block;
	font-size: 24px;
	line-height: 24px;
	margin-top: 32px;
	margin-bottom: 8px;
	}
	
#content form label:after {
  content: ':';
}

#content form label.checkbox:after, #content form label.radio_button:after {
  content: '.';
}
#content form .radio_group {
	font-size: 14px;
	line-height: 24px;
	vertical-align: center;
}
#content form .radio_group label {
	display: block;
	font-size: 14px;
	margin: 0;
}

#content form .radio_group input.radio {
	vertical-align: top;
	display: inline-block;
	margin-right: 5px;
}
#content form .radio_group label:after {
	content: '';
}
#content form input.text, #content form input{

	width: 410px;
	background: #fefefe;
	border: 1px solid #bbb;
	font-size: 24px;
	color: #333;
	padding: 7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	vertical-align: middle;
	}

#content form input.text.medium { width: 600px; }
#content form input.text.big { width: 98%; }

#content form p.input_comments {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	color: #666666;
	margin: 8px 0;
}
#content form input.text.date_picker {
	width: 100px;
	padding-right: 36px;
	cursor: pointer;
	background: url(../images/cal.jpg) center right no-repeat;
	}

#content form textarea {
	width: 98%;
	height: 140px;
	padding: 5px;
	background: #fefefe;
	border: 1px solid #bbb;
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 14px;
	color: #333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	outline: none;
	}

#content form textarea.wysiwyg { width: 98%; padding: 0; }

#content form input.radio,
#content form input.checkbox {
	vertical-align: middle;
	}


/* Custom form select element */

#content form select.styled {
	width: 245px;
	height: 18px;
	margin-right: 20px;
	cursor: pointer;
	}

#content form .cmf-skinned-select {
	padding: 7px;
	display: block;
	margin-right: 20px;
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: url('../images/sdd.jpg') center right no-repeat;
	}

#content form .cmf-skinned-select:hover {
	background: url('../images/sdd_.jpg') center right no-repeat;
	}

#content form div.cmf-skinned-text {
	padding: 5px 7px;
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 14px;
	color: #333;
	}


/* Custom file input */

#content form .fileupload {
	position: relative;
	}

#content form .fileupload #uploadmsg {
	display: block;
	position: absolute;
	top: 20px;
	left: 350px;
	height: 30px;
	line-height: 30px;
	margin-left: 5px;
	font-size: 11px;
	}

#content form .fileupload #uploadmsg.loading {
	background: url(../images/ajax-loader.gif) center left no-repeat;
	width: 30px;
	padding-left: 20px;
	}

#content form input.file {
	width: 250px;
	height: 20px;
	background: #fefefe;
	border: 1px solid #bbb;
	border-right: 0;
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 14px;
	color: #333;
	padding: 4px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	outline: none;
	}

#content form .note {
	padding-left: 10px;
	font-size: 11px;
	font-weight: bold;
	color: #757575;
	vertical-align: middle;
	}

#content form .note.error { color: #e3302c; }

#content form input.submit {
	width: 85px;
	height: 30px;
	line-height: 30px;
	background: url(../images/btns.gif) top center no-repeat;
	border: 0;
	font-family: "Titillium800", "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 1px 0 #0a5482;
	cursor: pointer;
	margin-right: 10px;
	vertical-align: middle;
	}

#content form input.submit:hover {
	background: url(../images/btns_.gif) top center no-repeat;
	text-shadow: 1px 1px 0 #b55f10;
	}

#content form input.submit.tiny {
	width: 105px;
	height: 20px;
	line-height: 20px;
	padding-bottom: 2px;
	vertical-align: middle;
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-transform: none;
	background: url(../images/tiny.gif) top center no-repeat;
	}

#content form input.submit.tiny:hover { background: url(../images/tiny_.gif) top center no-repeat; }

#content form input.submit.mid { width: 115px; background: url(../images/btnm.gif) top center no-repeat; }
#content form input.submit.mid:hover { background: url(../images/btnm_.gif) top center no-repeat; }

#content form input.submit.long { width: 165px; background: url(../images/btnb.gif) top center no-repeat; }
#content form input.submit.long:hover { background: url(../images/btnb_.gif) top center no-repeat; }


#content form div.field_with_errors {
  display:inline;
}
#content form div.field_with_errors input {
  background: #ffecce;
  border: 1px solid #e9c59b;

}

#content form span.errors_on {
  color: #e9c59b;
  display:block;
  font-size: 18px;
  line-height: 18px;
}

#content form.remove {
	margin: 0;
	display: inline;
	color: inherit;
	font-weight: inherit;
	font-family: inherit;
}

#content form.remove input{
	display: inline;
	border: 0;
	background: 0;
	font-size: inherit;
	cursor: hand;
	cursor: pointer;
	color: inherit;
	text-shadow: inherit;
	font-family:inherit
}






