
#wrapper #head .field_with_errors input, #wrapper #head .field_with_errors textarea, #wrapper #head .field_with_errors select  {
  border: 2px solid red;
}

#error_explanation {
  margin: 20px 50px;
}

#error_explanation ul {
  list-style: square;
}

#error_explanation li {
  margin-bottom: 5px;
}



html, body {
  height: 100%;
}

body {
  background: url('../images/bg.jpg') #1384AC top repeat-x;
  font-family: Tahoma, sans-serif;
  font-size: small;
  font-weight: normal;
}

body.sources {
  background: url('../images/bg02.jpg') #929393 top repeat-x;
}

a:visited {
color: #0A5E7C;
}

#wrapper {
  width: 908px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -147px; /* the bottom margin is the negative value of the footer's height */
  position: relative;
}

#logo {
  width: 309px;
  height: 88px;
  margin: 20px 0;
}
#logo a {
  width: 309px;
  height: 88px;
  text-indent: -3000px;
  background: url('../images/logo.png') no-repeat;
  display: block;
}

#login {
  position: absolute;
  top: 0px;
  right: 0;
  background-color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 10px;
  color: #605F5F;
  border:1px solid #d8d7d7;
}

#login a, #menu a { color: #0A5E7C; text-decoration: none;}
#login a:hover, #menu a:hover {text-decoration: underline;}
#login li, #menu li {
	margin-left: 8px;
}
#login .google_apps, #login .twitter, #login .facebook {
	width: 20px;
	height:20px;
	display: inline-block;
	text-indent: -3000px;
	
}
#login .google_apps {
	background: url('../images/ggl.png') no-repeat;
}

#login .twitter {
	background: url('../images/twt.png') no-repeat;
}

#login .facebook {
	background: url('../images/fbk.png') no-repeat;
}

#login li, #menu li {
  display: inline;
  vertical-align: middle;
}

#menu {
  position: absolute;
  top: 51px;
  right: 0;
  background-color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 10px;
  color: #605F5F;
  border:1px solid #d8d7d7;
  
}


#head {
  width: 790px;
  background-color: #fff;
  /*height:227px;*/
  margin: 20px 0 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border:1px solid #d8d7d7;
  padding: 29px 59px 10px 59px;
  position:relative;
}
#head.slides {
  padding:0;
  width: 905px;
}

.slidetabs {
  clear:both;
  overflow: hidden;
  margin: 0px 0px 15px 390px;
  padding-top: 15px;
}
.slidetabs a {
  width:8px;
  height:8px;
  float:left;
  margin:3px;
  background:url(/images/navigator.png) 0 0 no-repeat;
  display:block;
  font-size:1px;		
}
.slidetabs a:hover {
  background-position:0 -8px;      
}
.slidetabs a.current {
  background-position:0 -16px;     
}

.disabled {
  visibility:hidden !important;		
}


.slides ul {
  float: left;
  overflow: hidden;
  height: 200px;
  width: 805px;
  padding: 20px 0 0;

}
.slides .forward, .backward {
  float:left;
  margin-top:110px;
  margin-left: 10px;
  margin-right: 10px;
  background:#fff url(/images/hori_large.png) no-repeat;
  display:block;
  width:30px;
  height:30px;
  cursor:pointer;
  font-size:1px;
  text-indent:-9999em;	
}

.slides .forward 				{ background-position: 0 -30px; clear:right; }
.slides .forward:hover 		{ background-position:-30px -30px; }
.slides .forward:active 	 	{ background-position:-60px -30px; } 
.slides .backward:hover  		{ background-position:-30px 0; }
.slides .backward:active  	{ background-position:-60px 0; }

.slide {
  display:none;
  height: 196px;
  margin: 0;
  width: 804px;
  position: relative;
}
.slide h2 {
  margin-bottom: 10px;
  font-size: 25px;
  color: #599fb8;
  font-weight: normal;
  font-family: 'Amaranth', arial, serif; 
}
.slide h2 a {color: #0a5e7c;text-shadow: #CECCCC 1px 2px 2px; }
.slide p, .slide a {
  color: #605F5F;
  text-decoration: none;
}
.slide p {
  line-height: 18px;
  margin: 10px 0;
  font-size: 14px;
}
.slide p.go {
  font-size: 12px;
}
.slide a:hover {text-decoration: underline;}
.slide a.image {
  float: left; margin-right: 20px;
}
.slide .annotations {
  position:absolute;
  left: 230px;
  bottom: 0;
}
.slide p.description {
  color: #605f5f;
}


.annotations .score, .annotations .comments {
  height: 21px;
  line-height: 21px;
  vertical-align: middle;
  display: inline-block;	
}
.annotations .score {margin-left: 15px;}
.annotations .comments {
  background: url('../images/comment.jpg') no-repeat left center;
  padding-left: 30px;
  color: #605F5F;
}

#left {
  padding: 23px 20px;
  width: 639px;
  background-color: #fff;
  margin-bottom: 25px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border:1px solid #d8d7d7;
  overflow: hidden;
  float: left;
  position: relative;
}
#left h2 {
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 25px;
  color: #599fb8;
  font-weight: normal;
  font-family: 'Amaranth', arial, serif; 
	text-shadow: #CECCCC 1px 2px 2px; 
}
#left h2 a {color: #0a5e7c;}
#left h2.app-name {color: #0a5e7c;}
#left h4 {
  background: url('../images/comment2.jpg') no-repeat left center;
  padding: 8px 0 8px 33px;
  font-size: 18px;
  color: #599fb8;
  font-weight: normal;
  font-family: 'Amaranth', arial, serif;
  margin-bottom: 8px;
	text-shadow: #CECCCC 1px 2px 2px; 
}
#left ul.app_list {margin-top:30px;} 
#left ul.app_list li {
  height: 64px;
  width: 295px;
  display: block;
  margin: 0 15px 25px 8px;
  float: left;
  padding-bottom: 10px;
  border-bottom:1px solid #cccccc;
}
#left ul.app_list li img {
  float: left;
  margin-right: 15px;
  border:1px solid #d8d7d7;
}
#left ul.app_list li p.name {
  color: #676768;
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: bold;
  margin-top: 0;
}
#left ul.app_list li p.name a {color:#77848d;}
#left ul.app_list li p.category {
  color: #898a8c;
  font-size: 12px;
  margin:0;
}
#left .image {
  float: left;
  margin: 0 25px 15px ;
}
#left a {
   color: #0a5e7c;
   text-decoration: none;
}
#left p {
  color: #605F5F;
  text-decoration: none;
  line-height: 18px;
  margin: 10px 0;
  font-size: 14px;
}
#left p.go {font-size: 12px;}
#left p.go a:hover {text-decoration: underline;}
#left #container {
  border-bottom: 1px solid #C9C7C7;
  margin-bottom: 15px;
  overflow: hidden;
}
#left #container  a.image img {border: 1px solid #C9C7C7;}
#left #comments {
  background-color: #fff;
  border: 1px solid #C9C7C7;
  padding: 15px;
  margin-bottom: 10px;
}
#left #comments li {
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #C9C7C7;
}

#comment_submit {
  background-color: #77848D;
  padding: 7px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 12px;
  width: 100%;
  font-weight: bold;
}

#comment_submit:hover {cursor: pointer; cursor: hand;}

#screenshots {
  background-color: #fff;
  border: 1px solid #C9C7C7;
  margin-bottom: 10px;
  position: relative;
}
#screenshots .big {
  margin:12px 0 12px 12px;
  border: 1px solid #C9C7C7;
}
#screenshots ul {
  text-align: center;
  border-top: 1px solid #c9C7C7;
}
#screenshots li {
  position: relative;
  display: inline-block;
  padding: 5px;
  margin:0;
  border-right: 1px solid #c9c7c7;
  width:77px;
  height:64px;
}

#screenshots li:hover {
  background: #ddd;
}

#screenshots li:first-child {
  border-left: 1px solid #c9c7c7;
}

#screenshots .pico {
  position: absolute;
  top: -1px;
  left: 34px; 
}
.pico_inside, .pico_outside {
  width: 0px;
  display:block;
  height: 0px;
  overflow: hidden;

}
#screenshots .pico_inside {
  position:absolute;
  border-left: 10px solid transparent;
  border-top: 10px solid white;
  border-right: 10px solid transparent;
}

#screenshots .pico_outside {
  position:absolute;
  top: 1px;
  border-left: 10px solid transparent;
  border-top: 10px solid #C9C7C7;
  border-right: 10px solid transparent;

}


#right {
  width: 210px;
  background-color: #fff;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #d8d7d7;
  float:left;
  overflow: hidden;
  margin-left: 15px;
margin-bottom: 20px;
}
#right h5 {
  color: #0A5E7C;
  font-weight: normal;
  border-bottom: 1px solid #0A5E7C;
  padding-bottom: 4px;
  margin: 10px 15px;
  text-transform: uppercase;
}
#right dl {
  margin: 8px 15px 25px 15px;
  color:#605F5F;
}
#right dt {	margin: 5px 0; color:#474646; text-transform: uppercase;}
#right dt:after {content: ":";}
#right dd{margin-bottom: 15px; line-height: 17px;}

#right ul {margin: 8px 20px 25px 20px;}
#right ul li {margin: 5px 0; color:#605F5F;}
#right ul a {
  color: #605F5F;
  text-decoration: none;
}
#right ul a:hover {text-decoration: underline;}

#main_search {margin: 15px 0 30px 19px;}
#main_search form input.text, form input{
  width: 140px;
}
#main_search fieldset {
  background: url('../images/search-box.jpg') no-repeat;
  width: 180px;
  height: 22px;
}
#main_search fieldset button {
  background: url('../images/lupa.jpg') no-repeat center right;
  border: none;
  height:14px;
  width:15px;
  margin-top:3px;
}
#main_search fieldset button span {display: none;}
#main_search fieldset strong {display: none;}
#search {
  border:none;
  margin: 3px 0 0 7px;
}
#right form label:after {
  content: '';
}


/* === NEW APP ===*/

#head h2.new-app {
  margin-bottom: 10px;
  font-size: 25px;
  color: #599fb8;
  font-weight: normal;
  font-family: 'Amaranth', arial, serif;
  background: url('../images/add.jpg') left center no-repeat;
  padding-left: 30px;
  text-shadow: #CECCCC 1px 2px 2px; 
}

.team h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  color: #599fb8;
  font-weight: normal;
  font-family: 'Amaranth', arial, serif;
text-shadow: #CECCCC 1px 2px 2px; 
}

.team p {
  color: #605F5F;
  text-decoration: none;
  line-height: 18px;
  margin: 10px 0 20px 0;
  font-size: 14px;
}

.team a{
  color: #0A5E7C;
  text-decoration: none;
}

.team a:hover {
	text-decoration: underline;
}
.notice {
  padding: 8px 8px;
  background-color:#80D66B;
  border:1px solid #5A964B;
  color: #444;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.alert {
  padding: 8px 8px;
  background-color:#CC3C2C;
  border:1px solid #9B2C20;
  color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

#head .actions .button {
  background-color: #77848D;
  padding: 7px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 12px;
  width: 54%;
  font-weight: bold;
  margin-bottom: 30px;
}
#new_app .actions button:hover {cursor: pointer; cursor: hand;}

#head .field label {margin-bottom: 7px;}
/* ======= FOOTER ======== */
#footer {
  background: url('../images/down.png') top repeat-x #2e3037;
  height: 147px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.push {
  height: 147px; /* .push must be the same height as .footer */
  clear:both;
}

#footer .center {
  background: url('../images/highlight.png') center top no-repeat;
  width: 611px;
  margin: 1px auto 0;
  height:140px;
}
#footer .center h4 {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  padding: 30px 0 15px 0;
  text-shadow: #191919 1px 2px 2px;  
  text-align: center;
}
#footer .center h4 a {color: #fff;}
#footer .center h4 a:hover {text-decoration: none;}
#footer .center ul {
  margin:35px auto 5px auto; 
  text-align:center;
}
#footer .center ul li {
  display: inline;
  padding: 0 18px;
}
#footer .center ul li a {
  color: #898a8c;
  text-decoration: none;
  text-shadow: #191919 1px 2px 2px; 
}
#footer .center ul li a:hover {text-decoration:underline;}

.pico {
  position: absolute;
  top: 463px;
  left: 292px; 
}
.pico_inside, .pico_outside {
  width: 0px;
  display:block;
  height: 0px;
  overflow: hidden;

}
.pico_inside {
  position:absolute;
  border-left: 10px solid transparent;
  border-top: 10px solid white;
  border-right: 10px solid transparent;
}

.pico_outside {
  position:absolute;
  top: 1px;
  border-left: 10px solid transparent;
  border-top: 10px solid #C9C7C7;
  border-right: 10px solid transparent;

}



/* ==== FORMS ==== */
.field {
  margin-bottom: 7px;
}
form label {
  display: block;
}

form label:after {
  content: ':';
}

#comment_title {
  border: 1px solid #bbb;
  font-size: 14px;
  padding: 4px 0;
 -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#new_app form input.text, #new_app form input, #head form input.text, #head form input{
  width: 410px;
  background: #fefefe;
  border: 1px solid #bbb;
  font-size: 16px;
  color: #333;
  padding: 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
}

form textarea {
  width: 98%;
  height: 100px;
  padding: 5px;
  background: #fefefe;
  border: 1px solid #bbb;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 14px;
  color: #333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
}

