<div id="head" class="slides">
  <%= slides_for(@highlighted_apps.all, 'highlighted_app' ) %>
</div> <!-- #slider -->




<div id="left">
  <h2>Listado de Aplicaciones de Open Data</h2>
  <ul class="app_list">
    <%= render @apps.all %>
  </ul>

</div> <!-- #apps -->

<div id="right">
  <% form_for @apps,  :html => {:id => "main_search"} do |f|%>
  <fieldset>
    <label>
      <strong>Buscar</strong>
        <%= f.text_field :name_or_description_contains, :id => "search" %>
        <button type="submit"> <span>Buscar</span> </button>
      </label>
    </fieldset>
    
  <% end %>

  <%= render 'categories/categories' %>


</div> <!-- #sidebar -->
